body {
    background-color: lightblue;
}

h1{
    text-align: center;
    font-family: Quicksand;

}

.thumbnail:hover {
    position: relative;
    top:-25px;
    left:-35px;
    width:1000px;
    height:auto;
    display:block;
    z-index:999;
}

p {
    font-family: Quicksand;
}