h1 {
    font-family: "Quicksand";
    text-align: center;
}
p {
    font-family: "Quicksand";
}
h2 {
    font-family: "Quicksand";
    text-align: center;
}
h3 {
    font-family: Quicksand;
    background-color: rgb(215, 217, 221);
}
